:root {
    /*colors*/
    --Primary: #000000;
    --Secondary: #FFFFFF;
    --Accent: #6fb4d6;

    /*font-sizes*/
    --font-size-base: 1rem;
    --font-size-title: 1.5rem;
    --font-size-mb-base: 2rem;
    --font-size-mb-tittle: 3rem;

    /*standards*/
    --st-padding: 1rem;
    --plus-padding: 2rem;
    --eplus-padding: 3.5rem;
    --border-radius: 10px;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Calibri Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: var(--eplus-padding);
    max-width: 60vw;
    & section{
        padding: var(--st-padding);
        border: 1px solid var(--Accent);
        border-radius: var(--border-radius);
    }
}
nav{
    display: flex;
    justify-content: center;
    background-color: var(--Primary);
    color: var(--Accent);
    border-bottom: 3px solid var(--Accent);
    min-width: 100vw;
}

@media screen and (max-width: 1024px){}